button {
    margin:auto;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #0004fd;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background: #0b73fb;
}