button {
    margin:auto;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: white solid 1px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background: #ffffff;
    color: black;
}