h2 {
    color:dodgerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
input {
    margin: auto;
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 20%;
}