.lista-container {
  margin-top: 20px;
}

.lista-container ul {
  list-style: none;
  padding: 0;
}

.lista-container li {
  background: #a1c9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.2s;color: blue;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.significado-box {
  background: #ffffff;
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  color: black;
}
.palabra-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
}
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: dodgerblue;
  padding-left: 15px;
}